
:root {
  --mainWhite: white;
  --mainGrey: lightgrey;
  --mainBlack: black;
  --darkGrey: #555555;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 30px !important;
  background: transparent !important;
  color: var(--darkGrey) !important;
}

.text-title {
  font-family: 'Lato', sans-serif;
}

.text-black {
  color: var(--mainBlack);
}

.text-grey {
  color: var(--darkGrey);
}

#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}