
:root {
  --mainWhite: white;
  --mainGrey: lightgrey;
  --mainBlack: black;
  --darkGrey: #555555;
}

body {
  font-family: Gill Sans,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;  
  font-size: 20px !important;
  background: transparent !important;
  color: var(--darkGrey) !important;
  font-weight: 200;
}

.text-title {
  font-family: Gill Sans,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;  
  font-size: 20px !important;
}

.text-black {
  color: var(--mainBlack);
}

.text-grey {
  color: var(--darkGrey);
}

#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
