:root {
  --mainWhite: white;
  --mainGrey: lightgrey;
  --mainBlack: black;
}

body {
  font-family: 'Reenie Beanie', cursive !important;
  font-size: 30px !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text-title {
  font-family: 'Reenie Beanie', cursive;
}

.text-black {
  color: var(--mainBlack);
}

.text-grey {
  color: var(--mainGrey);
}